
# active le système de réécriture d'url

RewriteEngine On

# execute the next RewriteRule only if this is true. 

RewriteCond %{REQUEST\_FILENAME} !-d
RewriteCond %{REQUEST\_FILENAME} !-f

# if the request done matches ^{}(.*)$, it will be rewritten as index.php?url=$1 which means a request for ollewill be rewritten as index.php?url=olle
# QSA means that if there's a query string passed with the original URL, it will be appended to the rewrite (olle?p=1 will be rewritten as index.php?url=olle&p=1.
# L means if the rule matches, don't process any more RewriteRules below this one.

RewriteRule ^{}(.*)$ index.php?url=$1 [QSA,L]





#The !-x path is the condition that the request is not for a x 
#(! means not, -l means link, -d means directory, -f means filename)